.signupMessage {
  overflow: hidden;
  text-align: center;
}

.signupMessage::before,
.signupMessage::after {
  background-color: #cecece;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.signupMessage::before {
  margin-left: -50%;
  right: 1rem;
}

.signupMessage::after {
  margin-right: -50%;
  left: 1rem;
}
